* {
  box-sizing: border-box;
}

button:focus {
  outline: none;
}

body {
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;

  height: 2000px;
}

.container-site {
  max-width: 1300px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.site1-one {
  padding-bottom: 20px
}

.brand {
  background: url("https://i.pinimg.com/originals/78/4d/db/784ddbeed1ab1248303c67ef48a7b603.jpg") center;
  background-size: cover;
  height: 64px;
  margin: auto;
  position: relative;
  left: -50px;
  width: 153px;
}

.dorpdown {
  position: relative;
  display: inline-block;
  left: -3%;
}

.dorpdown .dropbtn {
  border: 0;
  background: none;
  position: relative;
  font-size: 22px;
  outline: none;
  COLOR: #b9a8a8;
}

.content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.content a:hover {
  background: honeydew
}

.show {
  display: block;
}

.hide {
  display: none;
}

form {
  position: relative;
  /* right: 85%; */
  width: 85%;
}

form button {
  position: absolute;
  left: 56%;
  width: 12%;
  height: 42px;
  border: 0 !important;
  background: #4b4bff !important;
  color: white !important;
  font-size: unset !important;
  border-radius: 0px 4px 4px 0px !important;
}

.another {
  position: relative;
  width: 12%;
  left: 50%;
}

.site1-one .con {

  position: absolute;

  top: -55px;

  font-size: 15px !important;

  background: none !important;

  color: #000000 !important;

  border: 0;

  height: 46px;

  width: 103%;
}

.site1-one .con::before {
  content: "";
  display: inline-block;
  height: 26px;
  width: 2px;
  background: #dedddd6b;
  position: absolute;
  left: 8px;
  top: 10px;
}

form button:active {
  background: #f1f1f1 !important;
  color: #4b4bff !important;
}

form input {
  position: absolute;
  width: 56% !important;
  border-radius: 4px 0px 0px 4px !important;
  height: 42px !important;
  margin: auto;
}

.navigation {
  display: flex;
  justify-content: right;
  position: absolute;
  right: 2%;
  top: 27%;
  width: 23%;
}

.navigation p {
  font-size: large;
  width: 100%;
}

.navigation p i {
  padding: 0px 7px 0px 7px
}

.navigation .cash {
  font-size: initial;
  font-weight: 500;
  left: 8%;
  /* position: relative; */
}

.navigation .cash::before {
  content: "your cash";
  display: block;
  color: black;
  position: relative;
  top: 0px;
  left: -2px;
}

/*end-site1-one*/
.site1-two {
  padding-bottom: 15px
}

.center {
  display: flex;
  margin-left: 29px;
  font-size: 95%;
}

.site1-two .menu {
  display: none;
  background-color: #f1f1f1;
  width: 100%;

  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.menu a {
  color: black;
  padding: 30px;
  text-decoration: none;
  display: block;
  margin: auto;
}

.menu a img {

  height: auto;
  display: block;
  width: 55px;
  margin: auto
}


.last {
  background: red;
  display: block;
  height: 800px;
  width: 100%;
}

.site1-two button {
  /* padding: 0; */
  background: none;
  border: 0;
  font-weight: 500;
  margin-right: 10px;
  width: 99%;
}

.product {
  background: url("../images/Home.jpg") no-repeat center center;
  background-size: cover;
  position: relative;
  height: 134px;
  width: 108%;
  top: -10px;
  margin-left: -15px;
  margin-top: 9px;
}

.product p {
  position: absolute;
  width: 50%;
  font-size: 15px;
  top: 34px;
  left: 8px;
  font-weight: 600;
}

.site1-three {
  width: 100%;
  margin-left: 8px;
}

.product span {
  position: absolute;
  top: 107px;
  left: 10px;
  font-size: 12px;
}

.ol-owl {
  right: 602px;
  bottom: 27px;
  margin: 0
}

.li-owl {
  width: 13px !important;
  height: 13px !important;
  border-radius: 8px;
  transition: all .4s ease-in-out
}

.li-owl.active {
  width: 40px !important
}

.owl-img {
  height: 420px;
}

.owl-h2 {
  position: absolute;
  top: 100px;
  width: 48%;
  line-height: 34px;
  left: 20px;
}

.owl-p {
  position: absolute;
  top: 252px;
  width: 36%;
  left: 19px;
  font-size: 13px;
}

.owl-btn {

  position: absolute;

  top: 314px;

  left: 29px;

  width: 24%;

  height: 37px;

  background: no-repeat;

  border: 1px solid;

  border-radius: 4px;

  font-weight: 700;
}

.small-nav {
  border: 1px solid #dc3545;
  margin-top: 44px;
  height: 68px;
  line-height: 60px;
}

.row-site {
  justify-content: space-between
}

.customes {
  text-align: center
}

.customes p {
  display: inline;
}

.customes::after {
  display: block;
  contain: "";
  height: 5px;
  width: 5px;
  background: black
}

.feat-cate .title{
  margin-top: 50px;
}

.feat-cate .photo-owl{
  width: 150px;
  height: 150px;
  border: 1px solid #00000026;
  margin: auto;
  display: flex;
  justify-items: center;
}
.feat-cate .photo-owl:hover{
  background: #b9a8a8;
}
.blank{
  margin-top: 50px;
  background: #4b4bff;
  text-align: center;
  padding: 2px;

}
.blank p{
  font-size: 1.2rem;
  color: white;
  margin: auto;
}
.owl-hot{

}
