* {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    color: #000000;
}

a:hover {
    text-decoration: none;
    color: unset;
}

button:focus {
    outline: none;
}

body {
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;

}

.top-nav {
    nav {
        margin: 0;
        height: 33px;
        background-color: #f8f9fa;
        padding-left: 10%;
        padding-right: 10%;
    }
}

.container-site {
    max-width: 1300px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.w3-sidebar.w3-collapse {
    top: 0;
}

.w3-sidebar {
    width: 200px;
    display: block;
    left: 0;
    z-index: 10;
}

.site1-one {


    .dropdown-toggle::after {
        display: none;
    }




    form {
        /* right: 85%; */
        width: 85%;
    }

    form button {
        position: absolute;
        left: 65%;
        width: 10%;
        height: 48px;
        border: 0 !important;
        background: #4b4bff !important;
        color: white !important;
        font-size: unset !important;
        border-radius: 0px 4px 4px 0px !important;
        font-weight: 600;
    }

    form button:active {
        background: #f1f1f1 !important;
        color: #4b4bff !important;
    }

    form input {
        position: absolute;
        width: 47% !important;
        border-radius: 4px 0px 0px 4px !important;
        height: 49px !important;
        margin: auto;
        margin-left: 20px;
    }

    .search-mob {
        button {
            border: none;
            display: inline-block;
            padding: 8px 16px;
            vertical-align: middle;
            overflow: hidden;
            text-decoration: none;
            color: inherit;
            background-color: inherit;
            text-align: center;
            cursor: pointer;
            white-space: nowrap;
        }

        .search {
            left: 27px;
            z-index: 9;
            background: #e2e2e2;
            display: none;
            margin-top: 13px;
            width: 90%;
            height: 3.5pc;
            border-radius: 4px;

            form {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;

                .form-group {
                    width: 100%;
                    margin: auto;
                    text-align: center;

                    button {
                        position: static;
                        margin-top: -6px;
                        height: 85%;
                        width: auto;
                        margin-left: -5px;
                    }

                    input {
                        position: static;
                        display: inline-block;
                    }
                }
            }
        }
    }






}

/*end-site1-one*/
.site1-two {
    padding-bottom: 15px;
    display: block;

    .menu {
        display: none;
        background-color: #f1f1f1;
        width: 100%;

        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        padding-top: 10px;

        a {
            color: black;
            padding: 5px;
            text-decoration: none;
            display: block;
            margin: auto;

            img {

                height: auto;
                display: block;
                width: 55px;
                margin: auto
            }
        }


    }
}

.center {
    display: flex;
    margin-left: 29px;
    font-size: 95%;
}

.site1-two {

    .center {
        display: flex;
        margin-left: 29px;
        font-size: 95%;

        a{
            padding-top: 0 !important;
        }
    }
}







.site1-two button {
    /* padding: 0; */
    background: none;
    border: 0;
    font-weight: 500;
    margin-right: 10px;
    width: 99%;
}

.product {
    background: url("../images/Home.jpg") no-repeat center center;
    background-size: cover;
    position: relative;
    height: 134px;
    width: 108%;
    top: -10px;
    margin-left: -15px;
    margin-top: 9px;
}

.product p {
    position: absolute;
    width: 50%;
    font-size: 15px;
    top: 34px;
    left: 8px;
    font-weight: 600;
}

.site1-three {
    width: 100%;
    margin-left: 8px;
}

.product span {
    position: absolute;
    top: 107px;
    left: 10px;
    font-size: 12px;
}

.ol-owl {
    right: 602px;
    bottom: 27px;
    margin: 0
}

.li-owl {
    width: 13px !important;
    height: 13px !important;
    border-radius: 8px;
    transition: all .4s ease-in-out
}

.li-owl.active {
    width: 40px !important
}

.owl-img {
    height: 420px;
}

.owl-h2 {
    position: absolute;
    top: 100px;
    width: 48%;
    line-height: 34px;
    left: 20px;
}

.owl-p {
    position: absolute;
    top: 252px;
    width: 36%;
    left: 19px;
    font-size: 13px;
}

.owl-btn {

    position: absolute;

    top: 314px;

    left: 29px;

    width: 24%;

    height: 37px;

    background: no-repeat;

    border: 1px solid;

    border-radius: 4px;

    font-weight: 700;
}

.small-nav {
    border: 2px solid #a7a7a738;
    margin-top: 44px;
    height: 100px;
    line-height: 100px;
    border-radius: 6px;
}

.row-site {
    justify-content: space-between
}

.customes {
    text-align: center
}

.customes p {
    display: inline;
}

.customes::after {
    display: block;
    contain: "";
    height: 5px;
    width: 5px;
    background: black
}

.feat-cate .title {
    margin-top: 50px;
}

.feat-cate .photo-owl {}

.feat-cate .photo-owl:hover {}

.blank {
    margin-top: -218px;
    background: #4b4bff;
    text-align: center;
    padding: 2px;
    font-weight: 600;

}

.blank p {
    font-size: 1.2rem;
    color: white;
    margin: auto;
}

.owl-hot {
    transition: all 1s ease-in-out;
    height: 230px;
    margin: auto;
    text-align: center;

    margin-top: 0px;

    img {
        position: realative;
        z-index: 1;
    }

    button {
        opacity: 0;
        visibility: hidden;
        transition: all 1s ease-in-out;
        margin-top: 10px;
        background: none;
        border: 2px solid #0066ff;
        border-radius: 50px;
        width: 73%;
        padding: 8px;
        text-align: center;
        display: block;
        margin: auto;
        font-size: .8rem;
        font-weight: 500;
        margin-top: 3%;

    }

    p {
        font-weight: 700;
        padding: 0;
        margin: 0;
        color: #0066ff;
    }

    span {
        font-size: .8rem;
    }
}

.owl-hot:hover button {
    opacity: 1;
    visibility: visible;
    position: static;
}

.owl-hot:hover img {
    z-index: 99999;
}

.owl-hot:hover {
    z-index: 9999;
    border-radius: 3%;
    transform: scale(1.12);
    margin-top: 25px;
}

.owl-item {
    z-index: 99999999999;
    transition: all 1s ease-in-out;
}

.owl-item:hover {

    z-index: 9999;
}

.owl-carousel .owl-stage-outer {
    position: relative;
    overflow-y: visible;
    height: 425px;
}

.sec {
    margin-top: -144px;
}

.offers-sec {

    .offers-div {
        a {

            img {
                width: 100%;
            }
        }
    }
}

#five {
    .owl-hot {
        height: auto;

        button {
            margin-bottom: 10px;
        }
    }
}

.product2 {
    background: #ececec;
    height: 262px;
    padding-top: 18px;
    padding-right: 63px;

    .owl-carousel .owl-stage-outer {
        height: 220px;
    }

    .owl-hot {
        height: auto;
        padding: 5px;
    }
}

.sec2 {
    .owl-hot {
        display: flex;
        align-items: center;
    }

    .owl-hot:hover {
        border: none;
    }


}

.brands-sec {
    margin-top: -150px;

    .owl-stage-outer {
        height: auto;
        overflow: hidden !important
    }
}

/* login page */


    .sec-login{
        margin-top: 100px;
        .block{
            width: 0;
    height: 100%;
    border: 1px solid #e0e0e0;
    margin: auto;
    position: relative;
    p{
        position: absolute;
    top: 41%;
    background: #ffffff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    left: -23px;
    border: 1px solid #e0e0e0;
    font-weight: 700;
    color: #495057;
    }
        }
        form{
            
                button{
                    border-radius: 26px;
    width: 40%;
    padding: 16px;
                }
            
        }
    }

/* categories-page */
.cat-product{
    margin-top: 60px;
    img{
        width: 100%;
    }
.side-menu{
   
    .w3-sidebar{
        width: 268px;
        display: block;
        left: 12%;
        z-index: 10;
        margin: auto;
        position: static !important;
        background: #EEE;
        top: 10%;
        border: 1px solid #e0e0e0;
        padding: 15px;
        height: auto;
    
        .w3-button{
            border-bottom: .1px solid #d2d2d2;
        }
        .w3-dropdown-content{
            position: static;
            background: #eaeaea;
            ul{
                padding: 11px;
            }
        }

    }
    .side-ads{
        margin-top: 12px;
   
      }
}
}















footer {
    margin-top: 100px;
    background: silver;

    .top-footer {
        padding-top: 20px;
        margin-bottom: -7px;

        .content-fo {
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        i {
            font-size: 3.5rem;
            margin-right: 20px;
        }

        .form {
            display: flex;
            align-items: center;

            form {
                width: 100%;

                .form-group {
                    display: flex;
                    width: 100%;
                    margin: auto;
                    height: 50px !important;
                    margin-left: -40px;

                    button {
                        width: 23%;
                        border-radius: 0 4px 4px 0;
                    }

                    input {
                        height: 100%;
                    }
                }
            }
        }


        .right-links {
            display: flex;
            align-items: center;
            justify-content: space-around;
            padding-right: 15px;
            padding-bottom: 20px;

            a {
                color: #000000;
            }
        }
    }

    .buttom-fo {
        padding-bottom: 58px;
    }

    .last {
        background: black;
        width: 100%;
        display: flex;
        justify-content: space-between;
        color: white;
        padding: 9px;
    }

}

/* shoppingcard */
.sc{
    table{
    img{
        width: 100px !important;
    }
}
}


/* Extra small devices (phones, 600px and down) */
@media (min-width: 320px) and (max-width: 480px) {
    .container-site {
        max-width: none;
        width: 100%;
        padding: 0;
        margin: auto;

        .top-nav {
            display: none;
        }

        .collapse-w3 {
            display: block !important;
        }

        .site1-two {
            display: none !important;

        }

        .small-nav {
            display: none;
        }
    }

    .site1-three {
        margin: auto;

        .carousel.slide {
            margin-bottom: 20px;

            .ol-owl {
                right: 0;
            }

            img {
                height: auto;
            }
        }

        .product {
            margin: auto;
            width: 80%;
            margin-bottom: 10px;
        }
    }

    .sec {
        margin-top: 0;
    }

    .owl-carousel .owl-stage-outer {
        height: auto;
        overflow: hidden;

        .owl-hot {
            width: 58%;

            img {
                width: 50%;
                margin: auto;
            }


        }

        .owl-hot:hover {
            z-index: 9999;
            border-radius: 3%;
            border: 1px solid;
            margin-top: 25px;

            transform: unset;

        }
        
        .sec-login{
            width: 80%;
            margin: auto;
        }

    }


    .blank {
        margin: auto;
    }

    .product2 {
        .product2-img {
            display: none;
        }
    }

    .brands-sec {
        margin: auto;
    }

 /* categoires-page */

 .side-menu{
    display: none;
}


    footer {
        text-align: center !important;

        .top-footer {
            .form {
                form {
                    .form-group {
                        margin: auto;
                        width: 70%;
                    }
                }
            }
        }

        .buttom-fo {
            padding-left: 0 !important;

            .list {
                margin: auto !important;
            }
        }
    }
}

/* Extra small devices (phones, 600px and down) */
@media (min-width: 481px) and (max-width: 767px) {
    .container-site {
        max-width: none;
        width: 100%;
        padding: 0;
        margin: auto;

        .top-nav {
            display: none;
        }

        .collapse-w3 {
            display: block !important;
        }

        .site1-two {
            display: none !important;

        }

        .small-nav {
            display: none;
        }
    }

    .site1-three {
        margin: auto;

        .carousel.slide {
            margin-bottom: 20px;

            .ol-owl {
                right: 0;
            }

            img {
                height: auto;
            }
        }

        .product {
            margin: auto;
            width: 80%;
            margin-bottom: 10px;
        }
    }

    .sec {
        margin-top: 0;
    }

    .owl-carousel .owl-stage-outer {
        height: auto;
        overflow: hidden;

        .owl-hot {
            width: 58%;

            img {
                margin: auto;
            }


        }

        .owl-hot:hover {
            z-index: 9999;
            border-radius: 3%;
            margin-top: 25px;

            transform: unset;

        }
    }


    .blank {
        margin: auto;
    }

    .product2 {
        .product2-img {
            display: none;
        }
    }

    .brands-sec {
        margin: auto;
    }



    /* loign page */
    .sec-login{
        width: 80%;
        margin: auto;

        .block{
            width: 100% !important;
            height: 0 !important;
            margin: 43px auto !important;
           p{
            position: static;
            margin: auto;
            margin-top: -30px;
                  
            
           }
        }
    }
    /* categoires-page */

    .side-menu{
        display: none;
    }

    footer {
        text-align: center !important;

        .top-footer {
            .form {
                form {
                    .form-group {
                        margin: auto;
                        width: 70%;
                    }
                }
            }
        }

        .buttom-fo {
            padding-left: 0 !important;

            .list {
                margin: auto !important;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {


}

@media (min-width: 768px) and (max-width: 1024px) {


    .container-site {
        max-width: none;
        width: 100%;
        padding: 0;
        margin: auto;

        .top-nav {
            display: none;
        }

        .collapse-w3 {
            display: block !important;
        }

        .site1-two {
            display: none !important;

        }

        .small-nav {
            display: none;
        }
    }

    .site1-three {
        margin: auto;

        .carousel.slide {
            margin-bottom: 20px;

            .ol-owl {
                right: 0;
            }

            img {
                height: auto;
            }
        }

        .product {
            margin: auto;
            width: 80%;
            margin-bottom: 10px;
        }
    }

    .sec {
        margin-top: 0;
    }

    .owl-carousel .owl-stage-outer {
        height: auto;
        overflow: hidden;

        .owl-hot {
            width: 58%;

            img {
                margin: auto;
            }


        }

        .owl-hot:hover {
            z-index: 9999;
            border-radius: 3%;
            margin-top: 25px;

            transform: unset;

        }
    }


    .blank {
        margin: auto;
    }

    .product2 {
        .product2-img {
            display: none;
        }
    }

    .brands-sec {
        margin: auto;
    }


    
    /* loign page */
    .sec-login{
        width: 80%;
        margin: auto;

        .block{
            width: 100% !important;
            height: 0 !important;
            margin: 43px auto !important;
           p{
      position: static;
      margin: auto;
      margin-top: -4%;
            
           }
        }
    }
 /* categoires-page */

 .side-menu{
    display: none;
}



    footer {
        text-align: center !important;

        .top-footer {
            .form {
                form {
                    .form-group {
                        margin: auto;
                        width: 70%;
                    }
                }
            }
        }

        .buttom-fo {
            padding-left: 0 !important;

            .list {
                margin: auto !important;
            }
        }
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {

    .collapse-w3 {
        display: none !important;
    }
}

@media (min-width: 1281px) {

    .collapse-w3 {
        display: none !important;
    }
}